#map{
	height: calc(100vh - 41px - 5vh);
	overflow-y: auto;
}

header{
	position: relative;
    box-shadow: 0px 3px 10px #6c6868;
    z-index: 999;
}

main{
	position: relative;
	min-height: calc(100vh - 41px - 5vh);
}

img{
	height: 100px;
	margin-right: 10px;
	float: left;
}

#back{
	background-color: #fff;
	width: 200px;
	height: 60px;
	font-size: 40px;
	box-shadow: 20px 20px 0 #000;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	padding-top: 7px;
	display: none;
}

.star{
	width: 16px;
	height: 16px;
	float: none;
}

.comment{
	overflow: hidden;
}

#info hr{
	clear: both;
}

.avatar{
	width: 64px;
	height: 64px;
}

.comment_text{
	margin-top: 10px;
}

#info{
	overflow: auto;
	max-height: 300px;
	z-index: 6;
}

.bio{
	overflow: hidden;
}

.comments{
	margin-top: 10px;
}

.rating img{
	cursor: pointer;
}

textarea{
	resize: none;
	width: 450px;
	height: 100px;
	display: block;
	margin-top: 10px;
	float: left;
}

#send_comment{
	margin-top: 10px;
	margin-left: 10px;
}

.hide_comments{
	display: none;
	cursor: pointer;
}

.leave_comment{
	display: none;
}

#canvas{
	display: none;
}

.show_comments{
	cursor: pointer;
}

.avgMark img{
	float: none;
    width: 32px;
    height: 32px;
}

.avgMark span{
	font-size: 20px;
    vertical-align: middle;
}

.avgMark{
	margin: 5px;
}

.buttons{
	clear: both;
    margin-top: 5px;
}

figure{
	overflow: hidden;
}



nav{
	background: #1F8A67;
}

nav ul{
	height: 100%;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0;
}

nav li{
	display: inline-block;
	list-style: none;
	height: 100%;
}

nav li a{
	display: block;
	font-size: 15px;
	text-decoration: none !important;
	color: #60D4AE;
	height: 100%;
	padding: 10px;
	transition: all 0.5s ease-out;
}

nav li a:visited{
	color: #60D4AE;
}

nav li a:hover{
	text-decoration: none;
	color: #1F8A67;
	background-color: #35D4A0;
}

.logo{
	height: 40px;
    position: absolute;
    top: calc((41px - 40px) / 2);
    right: 10%;
    float: right;
}

footer{
	background: #1F8A67;
	height: 5vh;
	width: 100%;
	font-family: 'Bungee';
	font-size: 12px;
	box-shadow: 3px 0px 15px #6c6868;
	z-index: 999;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer div{
	color: #60D4AE;
}

a:visited{
	text-decoration: none;
}

input[type=button], input[type=submit], input[type=reset]{
	background: #fff;
    box-shadow: none;
    border: 1px solid #1F8A67;
    color: #1F8A67;
    padding: 5px;
    transition: all 0.3s ease-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	background: #1F8A67;
	color: #fff;
	border: 1px solid #60D4AE;
}

h1{
	margin-top: 0;
}

#routeinfo{
	padding: 10px;
	position: absolute;
	z-index: 5;
	right: 0;
	background: #fff;
	box-shadow: 0 0 5px #333;
	text-align: center;
	width: 20vw;
    max-width: 20vw;
}

#routeinfo h3{
	margin-top: 5px;
	color: #1F8A67;
}

.routePoints{
	text-align: center;
    -webkit-padding-start: 0;
    margin-top: 10px;
}

.routePoints li{
	list-style: none;
	color: #1F8A67;
}

.routePoints .city-reference{
	color: #1F8A67;
	cursor: pointer;
	transition: all 0.3s;
}

.city-reference:hover{
	color: #60D4AE;
}

.fa-long-arrow-down:first-child{
	display: none;
}

@keyframes rotation{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

#loading{
	width: 10vw;
    height: 10vw;
    z-index: 5;
    animation: rotation 1s linear infinite;
    position: absolute;
    left: calc(50% - 5vw);
    top: calc(50% - 5vw);
    background: url(../images/gear.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

.overlay{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.signin, .registration{
	display: none;
}

.window{
	background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(204,208,213,0.75);
    max-width: 450px;
}

.window form *{
	margin-bottom: 13px;
}

.form-header{
	font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    padding-bottom: 17px;
    color: #4e5f6f;
}

.text-input{
	padding: 10px 15px;
    width: 100%;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
    background: #f2f4f5;
    color: #97a1aa;
    border: none;
}

.remember{
	font-weight: bold;
    font-size: 13px;
    font-family: Roboto,Arial,sans-serif;
    color: #3f5263;
    display: block;
}

input[type=checkbox]{
	vertical-align: sub;
}

input[type=submit]{
	width: 100%;
}

.about-content aside{
	position: fixed;
    left: 15vw;
    width: 10vw;
    top: 70px;
    transition: all 0.3s;
}

.about-content aside ul{
	-webkit-padding-start: 0;
    list-style: none;
    font-size: 1.5em;
    line-height: 2.5em;
    text-decoration: none;
    font-family: 'Open Sans';
}

.about-content aside li{

}

.about-content aside a{
	color: #1F8A67;
	transition: all 0.3s;
	text-decoration: none;
}

.about-content aside a:hover{
	color: #60D4AE;
	text-decoration: none;
}

.about-content main{
	width: 60vw;
    margin: 0 15vw 0 25vw;
    padding: 25px 30px;
}

.about-content main h1{
	font-size: 5em;
	font-family: 'Bungee';
}

.about-content main h3{
	font-size: 2.5em;
	font-family: 'Oswald';
}

.about-content main p{
	font-size: 1.3em;
	font-family: 'Open Sans';
}


@media screen and (max-aspect-ratio:1/1){

	nav li a{
		padding: 10vh;
	}
	#map{
		height: 95vh;
	}
	footer{
		height: 10vh;
	}
}