#map{
	height: 860px;
	overflow-y: auto;
}
img{
	height: 100px;
	margin-right: 10px;
	float: left;
}
#back{
	background-color: #fff;
	width: 200px;
	height: 60px;
	font-size: 40px;
	box-shadow: 20px 20px 0 #000;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	padding-top: 7px;
	display: none;
}
.star{
	width: 16px;
	height: 16px;
	float: none;
}
.comment{
	overflow: hidden;
}
#info hr{
	clear: both;
}
.avatar{
	width: 64px;
	height: 64px;
}
.comment_text{
	margin-top: 10px;
}
#info{
	overflow: auto;
	max-height: 300px;
}
.bio{
	overflow: hidden;
}
.comments{
	margin-top: 10px;
}
.rating img{
	cursor: pointer;
}
textarea{
	resize: none;
	width: 450px;
	height: 100px;
	display: block;
	margin-top: 10px;
	float: left;
}
#send_comment{
	margin-top: 10px;
	margin-left: 10px;
}
.hide_comments{
	display: none;
	cursor: pointer;
}
.leave_comment{
	display: none;
}
#canvas{
	display: none;
}
.show_comments{
	cursor: pointer;
}
.avgMark img{
	float: none;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.avgMark span{
	font-size: 20px;
    vertical-align: middle;
}
.avgMark{
	margin: 5px;
}



nav{
	background: #00AA72;
	height: 70px;
}
nav li{
	display: inline-block;
	list-style: none;
	vertical-align: middle;
	text-align: center;
	box-sizing: padding-box;
}
nav li a{
	display: block;
	font-size: 17px;
	text-decoration: none;
	color: #60D4AE;
	height: 70px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}
nav li a:hover{
	text-decoration: none;
	color: #006E4A;
	background-color: #35D4A0;
}
.logo{
	height: 70px;
	position: absolute;
	top: 0;
	right: 250px;
}
footer{
	background: #DAE7E3;
	position: absolute;
	height: 50px;
	width: 100%;
	font-family: 'Bungee';
	font-size: 12px;
}
footer div{
	padding-top: 10px;
    padding-left: 45%;
}
a:visited{
	text-decoration: none;
	color: #006E4A;
}
input[type=button]{
	background: #fff;
    box-shadow: none;
    border: 1px solid #00AA72;
    color: #00AA72;
    padding: 5px;
}
input[type=button]:hover{
	background: #35D4A0;
}
h1{
	margin-top: 0;
}