body{
	background-image: url(back.jpg);
}
form{
	margin-left: 30%;
	margin-right: 30%;
	font-size: 24px;
	line-height: 1.5;
	font-family: sans-serif;
}
h1{
	text-align: center;
	font-size: 40px;
	margin: 50px;
	font-family: "DFGothic-EB";
	color: #ACD2EF;
	text-shadow: -4px 4px 3px #999999;
}
input,select{
	border-radius: 10px;
	height: 40px;
	font-size: 20px;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fff;
	opacity: 0.7;
}
input[type=reset],input[type=submit]{
	background: linear-gradient(to top left,rgb(180,180,180),rgb(110,110,110));
	width: 200px;
	height: 100px;
}
input[type=reset]:hover,input[type=submit]:hover{
	background: #9CC1CE;
	opacity: 0.7;
}
input[type=checkbox],input[type=radio]{
	box-shadow: none;
	width: 30px;
	vertical-align: middle;
}
legend{
	color: #6E6995;
}
fieldset{
	box-shadow: inset;
	background-color: #fff;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 0 30px #fff;
}
span.f{
	display: inline-block;
	width: 260px;
}
input[type=text],input[type=number],input[type=password],input[type=select]{
	width: 50%;
	padding: 5px;
}
div.term{
	box-shadow: inset;
	background-color: #fff;
	border-radius: 10px;
	border: 0;
	box-shadow: 0 0 30px #fff;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 24px;
	line-height: 1.5;
	font-family: sans-serif;
	margin-top: 30px;
	padding: 30px;
}
h2{
	text-align: center;
	font-size: 40px;
	margin: 100px;
	font-family: "Comic Sans MS";
	color: #1C5466;
	text-shadow: -4px 4px 3px #999999;
}
#back{
	position: fixed;
	left: 0;
	top: 0;
	margin: 40px;
	background-color: #fff;
	border-radius: 10px;
	border:1px solid #45A8C8;
	width: 10%;
	height: 40px;
	text-align: center;
	font-family: sans-serif;
	text-decoration: none;
	vertical-align: middle;
	padding: 10px;
	font-size: 24px;
}