@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

body{
	margin: 0;
}
#field{
	height: 500px;
	border: 1px solid #000;
	margin-bottom: 10px;
	overflow: auto;
}
#html{
	display: block;
	height: 500px;
	border: 1px solid #000;
	overflow: auto;
}
#settingwindow{
	border: 1px solid #000;
}
#settingwindow label{
	display: block;
}
.buttons > *{
	min-width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center center;
	border: 0;
	margin-left: 1px;
	cursor: pointer;
}
.buttons > *:hover{
	background-color: #636363;
}
.ffontsize:hover, .ffontname:hover{
	background-color: initial;
}
.buttons{
	margin-bottom: 1px;
}
.ffile{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url(icons/folder.png);
}
#file{
	display: none;
}
#bold{
	background-image: url(icons/bold-text-option.png);
}
#italic{
	background-image: url(icons/italicize-text.png);
}
#underline{
	background-image: url(icons/underline-text-option.png);
}
#insertorderedlist{
	background-image: url(icons/list.png);
}
#insertunorderedlist{
	background-image: url(icons/list-1.png);
}
#justifyleft{
	background-image: url(icons/justify.png);
}
#justifyright{
	background-image: url(icons/justify-1.png);
}
#justifycenter{
	background-image: url(icons/justify-2.png);
}
#indent{
	background-image: url(icons/indent.png);
}
#outdent{
	background-image: url(icons/outdent-symbol-variant.png);
}
#createlink{
	background-image: url(icons/link.png);
}
#deletelink{
	background-image: url(icons/disconnected-chains.png);
}
.ffontname, .ffontsize{
	font-size: 17px;
}
.buttons label{
	display: inline-block;
}
body{
	font-family: "Ropa Sans";
}
#field, #html{
	font-family: initial;
}