#cost{
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 20px;
	font-family: arial;
	font-size:24px;
	color: #124C48;
}
body{
	background-color: #016F67;
	background-image: url(fon.jpg);
}
/*div.header{
	background-color: #228079;
}*/
#list{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	position: static;
}
#list li{
	display: inline;
	padding: 20px;
	margin: 30px;
	font-family: Verdana;
	font-size: 35px;
	border: 1px solid #000;
	border-radius: 15px;
	background-color: #E2D8D8;
	width: 3%;
}
#container{
	background-color: #C4B9B9;
	padding-left: 5%;
	margin-left: 15%;
	padding-right: 5%;
	margin-right: 15%;
	opacity: 0.7;
}
img{
	display: inline;
}
div.s{
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	font-size: 30px;
	width: 75%;
}
div{
	margin: 5px;
}
input.n{
	height: 40px;
	width: 400px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 5px;
	font-size: 24px;
}
input.b{
	height: 40px;
	width: 200px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: #A66F00;
}
input.b:hover{
	background: #FFD073;
}
h1{
	font-size: 50px;
	text-align: center;
}
h3{
	font-size: 30px;
}
.d{
	width: 40%;
}
h1,h3{
	font-family: monospace;
}
.h{
	margin-left: 35%;
	margin-right: 35%;
}